<html>
  <!-- <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style> -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
  <h1>Welcome to the international covid travel tool</h1>
  <h1>Let's see some travelers</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<!-- <p><a href="another">Go to the other page</a></p> -->

<form method="POST" action="/add">
<p>New traveler:<br> 
  <input type="text" name="fname" placeholder="First name"><br> 
  <input type="text" name="lname" placeholder="Last name"><br> 
  <input type="boolean" name="vax_status" placeholder="Are you vaccinated? Enter True or False"><br>
  <input type="text" name="citizenship" placeholder="Citizenship"><br>
  <input type="date" name="dob" placeholder="Date of birth"><br><br>
  <input type="submit" value="Add">
</p>
</form>

</body>


</html>
