<html>
 
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
<style>
    select:invalid{
        color: gray;
    }
    option{
        color: black;
    }
  </style>

<form method="POST" action="/addtrip">
  <fieldset>
  <legend> New Trip </legend> 
    <label for='country_id_origin'>Origin:</label>  
    <select id="country_id_origin" name="country_id_origin" required>
      <option value="" disabled selected hidden>Please make a selection</option>
      {% for j in cur1 %}
        <option value={{j[0]}}>{{j[1]}}</option>
      {% endfor %}
    </select><br>
    <label for='country_id_destination'>Destination:</label> 
    <select id="country_id_destination" name="country_id_destination" required>
      <option value="" disabled selected hidden>Please make a selection</option>
      {% for j in cur2 %}
        <option value={{j[0]}}>{{j[1]}}</option>
      {% endfor %}
    </select><br>
    <label for='travel_date'>Travel Date:</label>  
    <input type="date" name="travel_date" placeholder="Travel date"><br>
    <label for='departure_time'>Departure Time *Optional*:</label>  
    <input type="time" name="departure_time" placeholder="Optional: departure time"><br>
    <input type="submit" value="Add">
  </fieldset>
</form>
<section class="content">
    <header>
      {% block header %}{% endblock %} 
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

</body>


</html>