<html>
 
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>

<form method="POST" action="/policy">
  <fieldset>
    <legend>Trip Policy</legend> 
      {% for j in cur3 %}
        <label for='fname'>First Name: {{j['fname']}}</label><br>  
        <label for='lname'>Last Name: {{j['lname']}}</label><br>
      {% endfor %}
      {% for j in cur2 %}
        <label for='country_id_origin'>Origin: {{j['country_id_origin']}}</label><br>
        <label for='country_id_destination'>Destination: {{j['country_id_destination']}}</label><br>
        <label for='travel_date'>Date: {{j['travel_date']}}</label><br>
      {% endfor %}
      <label for='policyLink'>Trip Policy: <label>
        <a href="{{pLink}}">{{pName}} Link</a><br>
  </fieldset>
</form>
<section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

</body>

</html>